img{
    max-width: 20%;
}

.infoJoueur{
    text-align: center;
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row form {
    max-width: 100%; /* Handles the responsive part, it will cause your form to scale with a max-width of 100% */
}